body
{
  overflow-x: hidden;
}

main
{
    background-color: gray;
}

#contenitore
{
  display: flex;
  flex-direction: column;

  height: 560px;
  width: 50%;
  background-color: white;
  border: grey solid 2px;
  margin: auto;
  margin-top: 40px;
}

#divnome
{
    text-align: center;
    background-color: #0078BD;
    color: white;
    height: 55px;
    font-size: 30px;
    padding-top: 5px;
    width: 100%;
}

#contenitoreform
{
  height: 505px;
  width: 100%;
}

#contenitore form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#contenitore form input
{
    height: 30px;
    width: 40%;
    margin-top: 3px;
    margin-bottom: 3px;;
    border: #0078BD solid 2px;
    text-align: center;
}

.submit
{
    background-color: yellow;
}

.bottoneritorno
{
    margin-top: 40px;
    margin-left: 10%;
    height: 40px;
    background-color: #0078BD;
    color: white;
    border: 2px solid black;
}

.errorerosso
{
    color: red;
}


.hidden
{
    display: none;
}
